html,body,div,h1,h2,h3,p,a,ul,li{
	margin:0;
	padding:0;
	list-style: none;
}

html,body{
	width:100%;
}

.module{
	float:left;
	position: relative;
}
	.module .label{
		position: absolute;
		top: 16px;
		left: 48px;
	}

.axis .domain{
	display:none;
}
.axis line{
	stroke-opacity:0.2;
}
.axis text{
	fill: #333;
}